@import "bourbon"
@import "vars"

@media screen and (max-width: $desktop)
	.nav
		display: block




@media screen and (max-width: $tablet)
	.navigation__item a
		padding: 24px 0px

	h1
		font-size: 42px
		line-height: 70px

	h2
		font-size: 33px
		line-height: 45px

	h3
		font-size: 20px
		line-height: 29px

	h4
		font-size: 17px
		line-height: 25px


	p
		font-family: "Tahoma", sans-serif
		font-size: 15px
		line-height: 25px




@media screen and (max-width: $phone)
	.nav
		display: block

	h1
		font-size: 32px
		line-height: 52px

	h2
		font-size: 26px
		line-height: 32px

	h3
		font-size: 16px
		line-height: 22px

	h4
		font-size: 13px
		line-height: 18px

	p
		font-family: "Tahoma", sans-serif
		font-size: 12px
		line-height: 17px




@media screen and (max-width: $extra-small)
	.nav
		display: block