@import "bourbon"
@import "vars"

@media screen and (max-width: $desktop) //1280
	.nav
		display: block

@media screen and (max-width: 1024px) //1024
	.btn
		font-size: 15px

	section
		padding: 60px 0

	.navigation
		.navigation__item
			margin-left: 20px

	#container .mix
		width: 30%

	.form-group input
		width: 47.3%

@media screen and (max-width: $tablet) //992
	.tablet-hidden
		display: none

	.navigation__item a
		padding: 24px 0px

	h1
		font-size: 42px
		line-height: 70px

	p
		font-family: "Tahoma", sans-serif
		font-size: 15px
		line-height: 25px

	.headline .btn:last-child
		margin-left: 0px
		margin-top: 30px

	.btn
		font-size: 20px
		padding: 10px 50px

	.services__item
		padding: 10px 100px
		margin-bottom: 20px

		p
			font-size: 22px
			line-height: 35px

	.why
		.why__item
			margin-bottom: 20px

			p
				font-size: 22px
				line-height: 35px

			h4
				font-size: 30px

	.form-wrapper
		margin-top: 50px

	.form-group input
		width: 48.3%

	.contacts
		.contacts__item
			text-align: center
			padding: 0 15px

			p
				font-size: 20px
				line-height: 35px


@media screen and (max-width: $phone) //768
	.nav
		display: block

	h1
		font-size: 32px
		line-height: 52px

	p
		font-family: "Tahoma", sans-serif
		font-size: 12px
		line-height: 17px

	#container .mix
		width: 47%

		.cover__item1
			h3
				font-size: 25px
				margin: 17px 0 0 -3px

		.cover__item3
			margin-top: 50px

			.btn--red
				font-size: 16px
				padding: 6px 15px
	.form__row
		p
			font-size: 20px
			line-height: 35px

	.form-group
		margin-bottom: 0
		input
			width: 100%
			margin-bottom: 20px

	.contacts
		.contacts__item
			text-align: center
			padding: 0 15px
			margin-bottom: 30px
			h3
				font-size: 33px
			p
				font-size: 30px
				line-height: 35px

@media screen and (max-width: $extra-small) //iPhone6
	.phone-hidden
		display: none

	.headline
		background-size: cover

		.headline__offer
			padding: 0 10px

	.nav
		display: none

	.headline .btn
		width: 90%

	#filter .filter
		float: none

	#container .mix
		width: 93%

	.services__item
		padding: 0px 0px

	.why .why__item h4
		line-height: 40px

	.form-block .phone p
		font-size: 20px

@media screen and (max-width: 320px) //iPhone5
	.nav
		display: none